body
{
    background: #161616;
    color: #888;
    font-family: 'Ubuntu Mono', sans-serif;
}

table.center
{
    margin-left: auto;
    margin-right: auto;
}

.box
{
    width: 90%;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    background: #222;
    border-radius: 7px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.9);
}

.content {
    width: 85%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0px;
    text-align: center;
}

.content h1
{
    font-size: 24px;
    font-weight: bolder;
    color: #e5e2e2;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
}

.content h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.field
{
    width: 250px;
    height: 20px;
    margin: 10px auto;
    padding: 10px;
    background: #2c2c2c;
    border: none;
    box-shadow: 0px 1px 0px 0px #111;
    border-radius: 20px;
    outline: none;
    color: white;
    font-weight: 700;
    letter-spacing: 0.125em;
    text-align: center;
}

.btn
{
    color: black;
    margin: 10px auto;
    padding: 10px;
    background-color: #625e5e;
    border: none;
    box-shadow: 0px 1px 0px 0px #111;
    border-radius: 3px;
    outline: none;
    font-weight: bold;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
}

.btn:hover
{
    color: white;
}

.btn:active
{
    background-color: dimgrey;
    color: white;
}
